* {
    box-sizing: border-box;
    overflow:hidden;
}
img{
    width: 100%;
}
  @font-face {
  font-family: "Death Star";
  src: url("DeathStar-VmWB.ttf");
  }

  img{
      background-color: transparent;
      width: 100%;
      /*Testing*/
      height: 50vh;
      object-fit: scale-down;
  }
body {
    background-image: url('https://wallpaperaccess.com/full/3430638.png');
    color:White;
    font-family: 'Death Star', sans-serif;

}
nav {
    padding-top:10px;
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}

label {
    display: flex;
}
select {
    padding:5px;
}

.game-title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}


#health {
    background-color: green;
    width: 100%;
    border-radius: 10px;
}


progress#health-enemy::-webkit-progress-value {
    background: red;
    width:100%;
    border-radius: 10px;
}
/* progress::-webkit-progress-bar {background-color: red; width: 100%;} */
.buttons-for-attack {
    display: flex;
    justify-content: space-between;
}
#attack-button {
    background-color: red;
    color: white;
    display: flex
}

#special-button {
    background-color: yellow;
    justify-content: flex-end;
}
.play-btn {
    padding: 5px;
    background: none;
    border:none;
    color: white;
    font-size: 24px;
}
.play-btn:hover {
    background: none;
    color:#3a7bd4
}



.game-log-area {
    background: rgba(117, 117, 117, 0.5);
    height: 50vh;
    max-height: 50vh;
    border: none;
    border-radius: 10px;
}


.game-log {
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
    font-size: 20px;
}

.game-log {
    padding: 10px;
    font-family: 'roboto', sans-serif;
}

#score {
    display: flex;
    background:rgba(117, 117, 117, 0.5);
    border:none;
    border-radius: 10px;
    height:8%;
    text-align: center;
    padding: 8px;
}