* {
    box-sizing: border-box;
    overflow:hidden;
}
  @font-face {
  font-family: "Death Star";
  src: url("DeathStar-VmWB.ttf");
  }

  img{
      background-color: transparent;
      width: 100%;
  }
body {
    background-image: url('https://wallpaperaccess.com/full/3430638.png');
    color:White;
    font-family: 'Death Star', sans-serif;

}
nav {
    padding-top:10px;
}
select {
    padding:5px;
}

.game-title{
    text-align: center;
    font-size: 50px;
}

#health {
    background-color: green;
    width: 100%;
}


progress#health-enemy::-webkit-progress-value {
    background: red;
    width:100%;
}
/* progress::-webkit-progress-bar {background-color: red; width: 100%;} */

#attack-button {
    background-color: red;
    color: white;
}

#special-button {
    background-color: yellow;
}

.buttons-for-attack {
    display:block
}

.game-log-area {
    background: rgba(117, 117, 117, 0.5);
    height: 50vh;
    max-height: 50vh;
    border: none;
    border-radius: 10px;
}
    

.game-log {
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
}
